In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [198]:
from sklearn.preprocessing import StandardScaler

In [151]:
## mvp share ##
mvp_12 = pd.read_csv('../data/mvp/12_13_mvp.csv')
mvp_12.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,-9999
0,1,LeBron James,28,MIA,120.0,1207.0,1210,0.998,76,37.9,...,8.0,7.3,1.7,0.9,0.565,0.406,0.753,19.3,0.322,jamesle01
1,2,Kevin Durant,24,OKC,0.0,765.0,1210,0.632,81,38.5,...,7.9,4.6,1.4,1.3,0.510,0.416,0.905,18.9,0.291,duranke01
2,3,Carmelo Anthony,28,NYK,1.0,475.0,1210,0.393,67,37.0,...,6.9,2.6,0.8,0.5,0.449,0.379,0.830,9.5,0.184,anthoca01
3,4,Chris Paul,27,LAC,0.0,289.0,1210,0.239,70,33.4,...,3.7,9.7,2.4,0.1,0.481,0.328,0.885,13.9,0.287,paulch01
4,5,Kobe Bryant,34,LAL,0.0,184.0,1210,0.152,78,38.6,...,5.6,6.0,1.4,0.3,0.463,0.324,0.839,10.9,0.174,bryanko01

In [152]:
mvp_12 = mvp_12[['Player', 'Share']]
mvp_12.head()

            Player  Share
0     LeBron James  0.998
1     Kevin Durant  0.632
2  Carmelo Anthony  0.393
3       Chris Paul  0.239
4      Kobe Bryant  0.152

In [36]:
## team win-loss ##
team_12 = pd.read_csv('../data/team/12_13_team.csv')
team_12.head()

,Rk,Team,Conf,Div,W,L,W/L%,MOV,ORtg,DRtg,NRtg,MOV/A,ORtg/A,DRtg/A,NRtg/A
0,1,Oklahoma City Thunder,W,NW,60,22,0.732,9.21,113.30,103.35,9.95,9.15,113.21,103.33,9.89
1,2,Miami Heat,E,SE,66,16,0.805,7.87,113.43,104.77,8.67,7.03,113.28,105.53,7.75
2,3,San Antonio Spurs,W,SW,58,24,0.707,6.40,109.11,102.26,6.85,6.67,109.05,101.90,7.14
3,4,Los Angeles Clippers,W,P,56,26,0.683,6.45,111.62,104.47,7.16,6.43,111.58,104.44,7.13
4,5,Denver Nuggets,W,NW,57,25,0.695,5.09,111.23,105.97,5.26,5.37,111.34,105.76,5.58

In [37]:
team_12 = team_12[['Team', 'W/L%']]
team_12.head()

                    Team   W/L%
0  Oklahoma City Thunder  0.732
1             Miami Heat  0.805
2      San Antonio Spurs  0.707
3   Los Angeles Clippers  0.683
4         Denver Nuggets  0.695

In [38]:
# team abbreviations
teams = {
    'Atlanta Hawks': 'ATL',
    'Brooklyn Nets': 'BRK',
    'Boston Celtics': 'BOS',
    'Charlotte Hornets': 'CHO',
    'Charlotte Bobcats': 'CHA',
    'Chicago Bulls': 'CHI',
    'Cleveland Cavaliers': 'CLE',
    'Dallas Mavericks': 'DAL',
    'Denver Nuggets': 'DEN',
    'Detroit Pistons': 'DET',
    'Golden State Warriors': 'GSW',
    'Houston Rockets': 'HOU',
    'Indiana Pacers': 'IND',
    'Los Angeles Clippers': 'LAC',
    'Los Angeles Lakers': 'LAL',
    'Memphis Grizzlies': 'MEM',
    'Miami Heat': 'MIA',
    'Milwaukee Bucks': 'MIL',
    'Minnesota Timberwolves': 'MIN',
    'New Orleans Pelicans': 'NOP',
    'New Orleans Hornets': 'NOH',
    'New York Knicks': 'NYK',
    'Oklahoma City Thunder': 'OKC',
    'Orlando Magic': 'ORL',
    'Philadelphia 76ers': 'PHI',
    'Phoenix Suns': 'PHO',
    'Portland Trail Blazers': 'POR',
    'Sacramento Kings': 'SAC',
    'San Antonio Spurs': 'SAS',
    'Toronto Raptors': 'TOR',
    'Utah Jazz': 'UTA',
    'Washington Wizards': 'WAS'
}

In [40]:
team_12 = team_12.replace({'Team': teams})
team_12.head()

  Team   W/L%
0  OKC  0.732
1  MIA  0.805
2  SAS  0.707
3  LAC  0.683
4  DEN  0.695

In [121]:
team_12 = team_12.rename(columns = {'Team': 'Tm'})
team_12.head()

    Tm   W/L%
0  OKC  0.732
1  MIA  0.805
2  SAS  0.707
3  LAC  0.683
4  DEN  0.695

In [201]:
## player per-game ##
game_12 = pd.read_csv('../data/per_game/12_13_game.csv')
game_12.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
0,1,Quincy Acy,PF,22,TOR,29,0,11.8,1.4,2.6,...,1.0,1.6,2.7,0.4,0.4,0.5,0.6,1.8,4.0,acyqu01
1,2,Jeff Adrien,PF,26,CHA,52,5,13.7,1.4,3.2,...,1.3,2.5,3.8,0.7,0.3,0.5,0.6,1.5,4.0,adrieje01
2,3,Arron Afflalo,SF,27,ORL,64,64,36.0,6.2,14.1,...,0.5,3.3,3.7,3.2,0.6,0.2,2.2,2.1,16.5,afflaar01
3,4,Josh Akognon,PG,26,DAL,3,0,3.0,0.7,1.3,...,0.0,0.3,0.3,0.3,0.0,0.0,0.0,1.0,1.7,akognjo01
4,5,Cole Aldrich,C,24,TOT,45,0,8.6,1.0,1.8,...,0.7,2.0,2.7,0.2,0.1,0.5,0.5,1.3,2.2,aldrico01

In [202]:
game_12['Player'] = game_12['Player'].str.replace('*', '', regex=False)
game_12.iloc[7]['Player']

'Ray Allen'

In [55]:
game_12 = game_12.drop('Player-additional', axis=1)
game_12.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,22,TOR,29,0,11.8,1.4,2.6,...,0.816,1.0,1.6,2.7,0.4,0.4,0.5,0.6,1.8,4.0
1,2,Jeff Adrien,PF,26,CHA,52,5,13.7,1.4,3.2,...,0.650,1.3,2.5,3.8,0.7,0.3,0.5,0.6,1.5,4.0
2,3,Arron Afflalo,SF,27,ORL,64,64,36.0,6.2,14.1,...,0.857,0.5,3.3,3.7,3.2,0.6,0.2,2.2,2.1,16.5
3,4,Josh Akognon,PG,26,DAL,3,0,3.0,0.7,1.3,...,NaN,0.0,0.3,0.3,0.3,0.0,0.0,0.0,1.0,1.7
4,5,Cole Aldrich,C,24,TOT,45,0,8.6,1.0,1.8,...,0.600,0.7,2.0,2.7,0.2,0.1,0.5,0.5,1.3,2.2

In [56]:
## player totals ##
total_12 = pd.read_csv('../data/totals/12_13_totals.csv')
total_12.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
0,1,Quincy Acy,PF,22,TOR,29,0,342,42,75,...,30,47,77,11,13,15,17,53,116,acyqu01
1,2,Jeff Adrien,PF,26,CHA,52,5,713,72,168,...,68,128,196,36,18,27,32,80,209,adrieje01
2,3,Arron Afflalo,SF,27,ORL,64,64,2307,397,905,...,29,210,239,206,40,11,138,137,1057,afflaar01
3,4,Josh Akognon,PG,26,DAL,3,0,9,2,4,...,0,1,1,1,0,0,0,3,5,akognjo01
4,5,Cole Aldrich,C,24,TOT,45,0,388,44,80,...,30,90,120,9,5,23,23,60,100,aldrico01

In [58]:
total_12['Player'] = total_12['Player'].str.replace('*', '')
total_12.iloc[7]['Player']

/var/folders/w7/hr6cmnr97glbv26gtvp4724w0000gn/T/ipykernel_24121/2062872366.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  total_12['Player'] = total_12['Player'].str.replace('*', '')

'Ray Allen'

In [59]:
total_12 = total_12.drop('Player-additional', axis=1)
total_12.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,22,TOR,29,0,342,42,75,...,0.816,30,47,77,11,13,15,17,53,116
1,2,Jeff Adrien,PF,26,CHA,52,5,713,72,168,...,0.650,68,128,196,36,18,27,32,80,209
2,3,Arron Afflalo,SF,27,ORL,64,64,2307,397,905,...,0.857,29,210,239,206,40,11,138,137,1057
3,4,Josh Akognon,PG,26,DAL,3,0,9,2,4,...,NaN,0,1,1,1,0,0,0,3,5
4,5,Cole Aldrich,C,24,TOT,45,0,388,44,80,...,0.600,30,90,120,9,5,23,23,60,100

In [65]:
total_12 = total_12.rename(columns = {col: 'T_' + col for col in total_12.columns if col not in ['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS']})
total_12.head()

,Rk,Player,Pos,Age,Tm,G,GS,T_MP,T_FG,T_FGA,...,T_FT%,T_ORB,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS
0,1,Quincy Acy,PF,22,TOR,29,0,342,42,75,...,0.816,30,47,77,11,13,15,17,53,116
1,2,Jeff Adrien,PF,26,CHA,52,5,713,72,168,...,0.650,68,128,196,36,18,27,32,80,209
2,3,Arron Afflalo,SF,27,ORL,64,64,2307,397,905,...,0.857,29,210,239,206,40,11,138,137,1057
3,4,Josh Akognon,PG,26,DAL,3,0,9,2,4,...,NaN,0,1,1,1,0,0,0,3,5
4,5,Cole Aldrich,C,24,TOT,45,0,388,44,80,...,0.600,30,90,120,9,5,23,23,60,100

In [67]:
total_12 = total_12.drop(['Rk', 'Pos', 'Age', 'Tm', 'G', 'GS'], axis=1)
total_12.head()

,Player,T_MP,T_FG,T_FGA,T_FG%,T_3P,T_3PA,T_3P%,T_2P,T_2PA,...,T_FT%,T_ORB,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS
0,Quincy Acy,342,42,75,0.560,1,2,0.5,41,73,...,0.816,30,47,77,11,13,15,17,53,116
1,Jeff Adrien,713,72,168,0.429,0,2,0.0,72,166,...,0.650,68,128,196,36,18,27,32,80,209
2,Arron Afflalo,2307,397,905,0.439,72,240,0.3,325,665,...,0.857,29,210,239,206,40,11,138,137,1057
3,Josh Akognon,9,2,4,0.500,1,2,0.5,1,2,...,NaN,0,1,1,1,0,0,0,3,5
4,Cole Aldrich,388,44,80,0.550,0,0,NaN,44,80,...,0.600,30,90,120,9,5,23,23,60,100

In [188]:
season_12 = game_12.merge(total_12, on='Player')
season_12.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,T_FT%,T_ORB,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS
0,1,Quincy Acy,PF,22,TOR,29,0,11.8,1.4,2.6,...,0.816,30,47,77,11,13,15,17,53,116
1,2,Jeff Adrien,PF,26,CHA,52,5,13.7,1.4,3.2,...,0.650,68,128,196,36,18,27,32,80,209
2,3,Arron Afflalo,SF,27,ORL,64,64,36.0,6.2,14.1,...,0.857,29,210,239,206,40,11,138,137,1057
3,4,Josh Akognon,PG,26,DAL,3,0,3.0,0.7,1.3,...,NaN,0,1,1,1,0,0,0,3,5
4,5,Cole Aldrich,C,24,TOT,45,0,8.6,1.0,1.8,...,0.600,30,90,120,9,5,23,23,60,100

In [189]:
season_12 = season_12.drop('Rk', axis=1)
season_12.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,T_FT%,T_ORB,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS
0,Quincy Acy,PF,22,TOR,29,0,11.8,1.4,2.6,0.560,...,0.816,30,47,77,11,13,15,17,53,116
1,Jeff Adrien,PF,26,CHA,52,5,13.7,1.4,3.2,0.429,...,0.650,68,128,196,36,18,27,32,80,209
2,Arron Afflalo,SF,27,ORL,64,64,36.0,6.2,14.1,0.439,...,0.857,29,210,239,206,40,11,138,137,1057
3,Josh Akognon,PG,26,DAL,3,0,3.0,0.7,1.3,0.500,...,NaN,0,1,1,1,0,0,0,3,5
4,Cole Aldrich,C,24,TOT,45,0,8.6,1.0,1.8,0.550,...,0.600,30,90,120,9,5,23,23,60,100

In [190]:
season_12 = season_12.merge(team_12, on='Tm')
print(season_12.shape)
season_12.head()

(421, 53)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,T_ORB,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS,W/L%
0,Quincy Acy,PF,22,TOR,29,0,11.8,1.4,2.6,0.560,...,30,47,77,11,13,15,17,53,116,0.415
1,Alan Anderson,SF,30,TOR,65,2,23.0,3.6,9.5,0.383,...,34,114,148,103,48,7,80,131,693,0.415
2,Andrea Bargnani,PF,27,TOR,35,25,28.7,4.9,12.2,0.399,...,26,102,128,38,21,23,54,64,443,0.415
3,DeMar DeRozan,SG,23,TOR,82,82,36.7,6.7,15.0,0.445,...,48,272,320,204,76,24,151,173,1485,0.415
4,Landry Fields,SF,24,TOR,51,22,20.3,2.0,4.4,0.457,...,59,149,208,60,32,8,42,63,240,0.415

In [191]:
# lowest points per game -- 13.8
season_12 = season_12[season_12['PTS'] > 12]
print(season_12.shape)
season_12.head()

(102, 53)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,T_ORB,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS,W/L%
2,Andrea Bargnani,PF,27,TOR,35,25,28.7,4.9,12.2,0.399,...,26,102,128,38,21,23,54,64,443,0.415
3,DeMar DeRozan,SG,23,TOR,82,82,36.7,6.7,15.0,0.445,...,48,272,320,204,76,24,151,173,1485,0.415
19,Gerald Henderson,SG,25,CHA,68,58,31.4,5.6,12.6,0.447,...,55,195,250,177,68,34,108,149,1055,0.256
23,Ramon Sessions,SG,26,CHA,61,0,27.1,4.5,11.1,0.408,...,27,142,169,230,48,7,104,91,876,0.256
26,Kemba Walker,PG,22,CHA,82,82,34.9,6.4,15.2,0.423,...,60,223,283,471,160,31,200,153,1455,0.256

In [192]:
# lowest recorded number of games started by an mvp -- 49 (statmuse)
# will let cutoff be 40
season_12 = season_12[season_12['GS'] > 40]
print(season_12.shape)
season_12.head()

(81, 53)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,T_ORB,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS,W/L%
3,DeMar DeRozan,SG,23,TOR,82,82,36.7,6.7,15.0,0.445,...,48,272,320,204,76,24,151,173,1485,0.415
19,Gerald Henderson,SG,25,CHA,68,58,31.4,5.6,12.6,0.447,...,55,195,250,177,68,34,108,149,1055,0.256
26,Kemba Walker,PG,22,CHA,82,82,34.9,6.4,15.2,0.423,...,60,223,283,471,160,31,200,153,1455,0.256
28,Arron Afflalo,SF,27,ORL,64,64,36.0,6.2,14.1,0.439,...,29,210,239,206,40,11,138,137,1057,0.244
34,Jameer Nelson,PG,30,ORL,56,56,35.3,5.5,13.9,0.392,...,23,186,209,413,71,6,154,161,822,0.244

In [193]:
# worst win percentage -- 45.8%
# W/L% = W / (W + L)  (basketball-reference.com)
season_12 = season_12[season_12['W/L%'] >= 0.45]
print(season_12.shape)
season_12.head()

(51, 53)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,T_ORB,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS,W/L%
53,Shawn Marion,PF,34,DAL,67,67,30.0,5.3,10.3,0.514,...,146,379,525,163,75,47,103,111,812,0.500
54,O.J. Mayo,SG,25,DAL,82,82,35.5,5.6,12.5,0.449,...,36,255,291,361,93,23,210,195,1255,0.500
56,Dirk Nowitzki,PF,34,DAL,53,47,31.3,6.5,13.7,0.471,...,37,326,363,132,38,37,70,93,917,0.500
90,Chris Bosh,C,28,MIA,74,74,33.2,6.6,12.3,0.535,...,131,370,501,123,66,101,128,168,1232,0.805
96,LeBron James,PF,28,MIA,76,76,37.9,10.1,17.8,0.565,...,97,513,610,551,129,67,226,110,2036,0.805

In [194]:
mvp_12.head()

            Player  Share
0     LeBron James  0.998
1     Kevin Durant  0.632
2  Carmelo Anthony  0.393
3       Chris Paul  0.239
4      Kobe Bryant  0.152

In [195]:
season_12 = season_12.merge(mvp_12, how='left')
print(season_12.shape)
season_12.head()

(51, 54)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS,W/L%,Share
0,Shawn Marion,PF,34,DAL,67,67,30.0,5.3,10.3,0.514,...,379,525,163,75,47,103,111,812,0.500,NaN
1,O.J. Mayo,SG,25,DAL,82,82,35.5,5.6,12.5,0.449,...,255,291,361,93,23,210,195,1255,0.500,NaN
2,Dirk Nowitzki,PF,34,DAL,53,47,31.3,6.5,13.7,0.471,...,326,363,132,38,37,70,93,917,0.500,NaN
3,Chris Bosh,C,28,MIA,74,74,33.2,6.6,12.3,0.535,...,370,501,123,66,101,128,168,1232,0.805,NaN
4,LeBron James,PF,28,MIA,76,76,37.9,10.1,17.8,0.565,...,513,610,551,129,67,226,110,2036,0.805,0.998

In [196]:
season_12['Share'] = season_12['Share'].fillna(0)
season_12.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS,W/L%,Share
0,Shawn Marion,PF,34,DAL,67,67,30.0,5.3,10.3,0.514,...,379,525,163,75,47,103,111,812,0.500,0.000
1,O.J. Mayo,SG,25,DAL,82,82,35.5,5.6,12.5,0.449,...,255,291,361,93,23,210,195,1255,0.500,0.000
2,Dirk Nowitzki,PF,34,DAL,53,47,31.3,6.5,13.7,0.471,...,326,363,132,38,37,70,93,917,0.500,0.000
3,Chris Bosh,C,28,MIA,74,74,33.2,6.6,12.3,0.535,...,370,501,123,66,101,128,168,1232,0.805,0.000
4,LeBron James,PF,28,MIA,76,76,37.9,10.1,17.8,0.565,...,513,610,551,129,67,226,110,2036,0.805,0.998

In [197]:
season_12 = season_12.drop(['Pos', 'Tm'], axis=1)
season_12.head()

,Player,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,T_DRB,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS,W/L%,Share
0,Shawn Marion,34,67,67,30.0,5.3,10.3,0.514,0.3,1.1,...,379,525,163,75,47,103,111,812,0.500,0.000
1,O.J. Mayo,25,82,82,35.5,5.6,12.5,0.449,1.7,4.3,...,255,291,361,93,23,210,195,1255,0.500,0.000
2,Dirk Nowitzki,34,53,47,31.3,6.5,13.7,0.471,1.2,3.0,...,326,363,132,38,37,70,93,917,0.500,0.000
3,Chris Bosh,28,74,74,33.2,6.6,12.3,0.535,0.3,1.0,...,370,501,123,66,101,128,168,1232,0.805,0.000
4,LeBron James,28,76,76,37.9,10.1,17.8,0.565,1.4,3.3,...,513,610,551,129,67,226,110,2036,0.805,0.998

In [200]:
season_12['Season'] = 12
season_12.head()

,Player,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,...,T_TRB,T_AST,T_STL,T_BLK,T_TOV,T_PF,T_PTS,W/L%,Share,Season
0,Shawn Marion,34,67,67,30.0,5.3,10.3,0.514,0.3,1.1,...,525,163,75,47,103,111,812,0.500,0.000,12
1,O.J. Mayo,25,82,82,35.5,5.6,12.5,0.449,1.7,4.3,...,291,361,93,23,210,195,1255,0.500,0.000,12
2,Dirk Nowitzki,34,53,47,31.3,6.5,13.7,0.471,1.2,3.0,...,363,132,38,37,70,93,917,0.500,0.000,12
3,Chris Bosh,28,74,74,33.2,6.6,12.3,0.535,0.3,1.0,...,501,123,66,101,128,168,1232,0.805,0.000,12
4,LeBron James,28,76,76,37.9,10.1,17.8,0.565,1.4,3.3,...,610,551,129,67,226,110,2036,0.805,0.998,12